@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,400;1,500&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #262626;
  color:#ffffff;
  font-family: 'Barlow', sans-serif;
}

.section-center{
  background-color: #333;
  box-shadow: 0 10px 40px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 4%;
  height: 50vh;
}

.form-container, .grocery-container{
  border: 1px solid red;
  width: 90%;
}

.clear-btn{
  color: #e74c3c;
}